# Ignorar entornos virtuales
venv/
env/

# Ignorar archivos de Python compilados
*.pyc
*.pyo
__pycache__/

# Ignorar configuraciones del editor
*.vscode/
.idea/

# Ignorar logs
*.log

# Ignorar archivos sensibles
*.env
